.left_sidebar {
  position: fixed;
  top: 0;
  width: 15.5vw;
  height: 100vh;
  /* padding-right: 15px; */
  /* margin-right: 15px; */
  float: left;
  background-color: #0d1148;
  /* end */
}
.custom_container_left_sidebar {
  /* margin-top: 4em; */
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.gridManagerDiv {
  margin-left: 0.7em;
}
.gridManagerDiv h5 {
  color: white;
  font-family: "Roboto";
  font-size: 1.06em;
  font-weight: 400;
  margin-bottom: 0.6em;
}
.gridManagerDiv div {
  border-top: 1px solid #c0c0c07c;
}

.left_sidebar_profile {
  display: flex;
}
.left_sidebar_profile_pic {
  margin-top: 1em;
  width: 3.2em;
  border-radius: 50%;
  margin-left: 0.8em;
}
.left_sidebar_profile_name {
  font-weight: 100;
  font-family: "Roboto";
  font-size: 0.9em;
  color: white;
  margin-left: 1em;
  margin-top: 1.8em;
  margin-bottom: 0em;
}
.left_sidebar_profile_sub_name {
  color: #c0c0c0b2;
  font-size: 0.6em;
  margin-top: 0.2em;
  margin-bottom: 0em;
  margin-left: 1.6em;
}

.left_sidebar_menu_div {
  margin-top: 2em;
  cursor: default;
}
.Icons {
  color: white;
}
.arrowIcons {
  margin-left: 0.5em;
}
.left_sidebar_menu {
  margin-left: 1em;
  color: white;
}
.icon_value {
  font-family: "Roboto";
  font-size: 0.75em;
  margin-left: 1.5em;
  font-weight: 100;
  margin-top: 0.3em;
}
.home_icon_div {
  padding-top: 0.3vh;
  padding-bottom: 0.4em;
  display: flex;
  margin-left: 1em;
  color: white;
  cursor: pointer;
}
.home_icon_main_div1 {
  margin-top: 0.5em;
  padding-top: 0.01em;
}
.home_icon_main_div {
  margin-top: 0.5em;
  padding-top: 0.01em;
  padding-bottom: 0.5em;
}
.e3AppsDiv {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #515376;
}
.peakSaving {
  background-color: #515376;
  text-decoration: none;
}
.peakSaving:hover {
  background-color: #0d1148;
}
.selectedPeakSaving {
  background-color: #0d1148;
}
.ventilation {
  background-color: #515376;
}
.ventilation:hover {
  background-color: #0d1148;
}
.selectedVentilation {
  background-color: #0d1148;
}
.cooling {
  background-color: #515376;
}
.cooling:hover {
  background-color: #0d1148;
}
.selectedCooling {
  background-color: #0d1148;
}
.heatPump {
  background-color: #515376;
}
.heatPump:hover {
  background-color: #0d1148;
}
.selectedHeatPump {
  background-color: #0d1148;
}
.outOfHour {
  background-color: #515376;
}
.outOfHour:hover {
  background-color: #0d1148;
}
.selectedOutOfHour {
  background-color: #0d1148;
}
.evCharging {
  background-color: #515376;
}
.evCharging:hover {
  background-color: #0d1148;
}
.selectedEvCharging {
  background-color: #0d1148;
}
.loadShifting {
  background-color: #515376;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.loadShifting:hover {
  background-color: #0d1148;
}
.selectedLoadShifting {
  background-color: #0d1148;
}
.otherMainDiv {
  margin-top: 1.5em;
}
